@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

body{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(183, 0, 255, 0.89);
    margin: 0px;
    padding: 0px;
}

body .principal{
    width:800px;
    margin: auto;
    background-color: #ffffff;
    margin-top: -16px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.5);
    padding-bottom: 1px;
    margin-bottom: 20px;
    font-size:15pt;
}

body header{
    padding-top: 5px;
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.5);
    height: 400px;
}

body header .nome{
    width: 800px;
    display: block;
    position: absolute;
}

body header b{
    font-family: 'Dancing Script', cursive;
    color: rgba(137, 5, 189, 0.829);
}

body header a{
    text-decoration: none;
    color: black;
}

body header .fotoprincipal{
    position: relative;
    top: 70px;
    padding-left: 10px;
    width: 150px;
}

body header p{
    top: -220px;
    position: relative;
    left: 180px;
    padding-top: 0px;
    padding-bottom: -10px;
}

body h2{
    font-family: 'Dancing Script', cursive;
    color: rgba(183, 0, 255, 0.89);
    text-align: center;
}

body h1{
    font-family: 'Dancing Script', cursive;
    color: rgba(158, 9, 218, 0.829);
    font-size: 30pt;
    text-align: center;
}

body ul li{
    color: rgba(183, 0, 255, 0.89);
    margin: 3px;
}

body ul li span{
    color: #000000;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    transition: opacity 400ms ease-in;
    pointer-events: none;
  }

  .modal:target {
    opacity: 1;
    pointer-events: auto;
  }

  .modal > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 15px 20px;
    background: #fff;
  }
  .fechar {
    position: absolute;
    width: 30px;
    right: -15px;
    top: -20px;
    text-align: center;
    line-height: 30px;
    margin-top: 5px;
    background: #ff4545;
    border-radius: 50%;
    font-size: 16px;
    color: #8d0000;
  }